<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.animation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AnimationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animation">
        <activity
            android:name=".ui.ViewerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ComicDetailActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.test"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.PlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>